/*! bulma.io v0.7.4 | MIT License | github.com/jgthms/bulma */
.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.subtitle:not(:last-child),
.title:not(:last-child) {
    margin-bottom: 1.5rem;
}
.button,
.input {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
}
.button:active,
.button:focus,
.input:active,
.input:focus {
    outline: 0;
} /*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
body,
figure,
h1,
h2,
h4,
h5,
html,
li,
p,
ul {
    margin: 0;
    padding: 0;
}
h1,
h2,
h4,
h5 {
    font-size: 100%;
    font-weight: 400;
}
ul {
    list-style: none;
}
button,
input {
    margin: 0;
}
html {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: inherit;
}
img {
    height: auto;
    max-width: 100%;
}
html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
figure,
footer,
header {
    display: block;
}
body,
button,
input {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #363636;
}
img {
    height: auto;
    max-width: 100%;
}
span {
    font-style: inherit;
    font-weight: inherit;
}
.is-size-1 {
    font-size: 3rem !important;
}
.is-size-3 {
    font-size: 2rem !important;
}
.is-size-5 {
    font-size: 1.25rem !important;
}
.is-size-6 {
    font-size: 1rem !important;
}
@media screen and (max-width: 768px) {
    .is-size-3-mobile {
        font-size: 2rem !important;
    }
    .is-size-6-mobile {
        font-size: 1rem !important;
    }
    .is-size-7-mobile {
        font-size: 0.75rem !important;
    }
}
@media screen and (min-width: 769px), print {
    .is-size-1-tablet {
        font-size: 3rem !important;
    }
    .is-size-2-tablet {
        font-size: 2.5rem !important;
    }
    .is-size-5-tablet {
        font-size: 1.25rem !important;
    }
}
@media screen and (min-width: 1088px) {
    .is-size-5-desktop {
        font-size: 1.25rem !important;
    }
}
.has-text-centered {
    text-align: center !important;
}
.has-text-white {
    color: #fff !important;
}
.has-text-weight-bold {
    font-weight: 700 !important;
}
@media screen and (min-width: 1088px) {
    .is-hidden-desktop {
        display: none !important;
    }
}
.is-radiusless {
    border-radius: 0 !important;
}
.is-shadowless {
    box-shadow: none !important;
}
.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
}
.button:hover {
    border-color: #b5b5b5;
    color: #363636;
}
.button:focus {
    border-color: #3273dc;
    color: #363636;
}
.button.is-focused:not(:active),
.button:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.button:active {
    border-color: #4a4a4a;
    color: #363636;
}
.button.is-white.is-focused:not(:active),
.button.is-white:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}
.button.is-black.is-focused:not(:active),
.button.is-black:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}
.button.is-light.is-focused:not(:active),
.button.is-light:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}
.button.is-dark.is-focused:not(:active),
.button.is-dark:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}
.button.is-primary.is-focused:not(:active),
.button.is-primary:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}
.button.is-link.is-focused:not(:active),
.button.is-link:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.button.is-info.is-focused:not(:active),
.button.is-info:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);
}
.button.is-success.is-focused:not(:active),
.button.is-success:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(35, 209, 96, 0.25);
}
.button.is-warning.is-focused:not(:active),
.button.is-warning:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}
.button.is-danger.is-focused:not(:active),
.button.is-danger:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(255, 56, 96, 0.25);
}
.button.is-medium {
    font-size: 1.25rem;
}
.button.is-fullwidth {
    display: flex;
    width: 100%;
}
.container {
    margin: 0 auto;
    position: relative;
}
@media screen and (min-width: 1088px) {
    .container {
        max-width: 960px;
        width: 960px;
    }
}
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1152px;
        width: 1152px;
    }
}
@media screen and (min-width: 1472px) {
    .container {
        max-width: 1344px;
        width: 1344px;
    }
}
.input {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 100%;
}
.input::-moz-placeholder {
    color: rgba(54, 54, 54, 0.3);
}
.input::-webkit-input-placeholder {
    color: rgba(54, 54, 54, 0.3);
}
.input:-moz-placeholder {
    color: rgba(54, 54, 54, 0.3);
}
.input:-ms-input-placeholder {
    color: rgba(54, 54, 54, 0.3);
}
.input:hover {
    border-color: #b5b5b5;
}
.input:active,
.input:focus {
    border-color: #3273dc;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.input.is-medium {
    font-size: 1.25rem;
}
.select.is-white:not(:hover)::after {
    border-color: #fff;
}
.select.is-black:not(:hover)::after {
    border-color: #0a0a0a;
}
.select.is-light:not(:hover)::after {
    border-color: #f5f5f5;
}
.select.is-dark:not(:hover)::after {
    border-color: #363636;
}
.select.is-primary:not(:hover)::after {
    border-color: #00d1b2;
}
.select.is-link:not(:hover)::after {
    border-color: #3273dc;
}
.select.is-info:not(:hover)::after {
    border-color: #209cee;
}
.select.is-success:not(:hover)::after {
    border-color: #23d160;
}
.select.is-warning:not(:hover)::after {
    border-color: #ffdd57;
}
.select.is-danger:not(:hover)::after {
    border-color: #ff3860;
}
.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}
.label:not(:last-child) {
    margin-bottom: 0.5em;
}
.field:not(:last-child) {
    margin-bottom: 0.75rem;
}
.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: left;
}
.image {
    display: block;
    position: relative;
}
.image img {
    display: block;
    height: auto;
    width: 100%;
}
.subtitle,
.title {
    word-break: break-word;
}
.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
.title:not(.is-spaced) + .subtitle {
    margin-top: -1.25rem;
}
.subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}
.navbar {
    background-color: #fff;
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
}
.navbar-item {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}
.navbar-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
}
@media screen and (min-width: 1088px) {
    .navbar {
        align-items: stretch;
        display: flex;
    }
    .navbar {
        min-height: 3.25rem;
    }
    .navbar-item {
        align-items: center;
        display: flex;
    }
    .navbar-item {
        display: flex;
    }
    .navbar-link.is-active:not(:hover),
    a.navbar-item.is-active:not(:hover) {
        background-color: transparent;
    }
}
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}
@media screen and (min-width: 769px), print {
    .column.is-full {
        flex: none;
        width: 100%;
    }
    .column.is-half {
        flex: none;
        width: 50%;
    }
}
.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}
.columns:last-child {
    margin-bottom: -0.75rem;
}
.columns.is-multiline {
    flex-wrap: wrap;
}
.columns.is-vcentered {
    align-items: center;
}
@media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
        display: flex;
    }
}
.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
