/*!
 *  Material Design Iconic Font by Sergey Kupletsky (@zavoloklom) - http://zavoloklom.github.io/material-design-iconic-font/
 *  License - http://zavoloklom.github.io/material-design-iconic-font/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
 @font-face {
    font-family: 'Material-Design-Iconic-Font';
    src: url('../fonts/Material-Design-Iconic-Font.woff2?v=2.2.0') format('woff2'), url('../fonts/Material-Design-Iconic-Font.woff?v=2.2.0') format('woff'), url('../fonts/Material-Design-Iconic-Font.ttf?v=2.2.0') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .zmdi-hc-2x {
    font-size: 2em;
  }
  /* Material Design Iconic Font uses the Unicode Private Use Area (PUA) to ensure screen
     readers do not read off random characters that represent icons */
  .zmdi-menu:before {
    content: '\f197';
  }
  .zmdi-camera:before {
    content: '\f28c';
  }
  .zmdi-videocam:before {
    content: '\f2e0';
  }
  .zmdi-facebook:before {
    content: '\f343';
  }
  .zmdi-instagram:before {
    content: '\f34f';
  }
  .zmdi-twitter:before {
    content: '\f360';
  }
  .zmdi-pinterest:before {
    content: '\f3fc';
  }
  .zmdi-menu:before {
    content: '\f197';
  }
  .zmdi-camera:before {
    content: '\f28c';
  }
  .zmdi-videocam:before {
    content: '\f2e0';
  }
  .zmdi-facebook:before {
    content: '\f343';
  }
  .zmdi-instagram:before {
    content: '\f34f';
  }
  .zmdi-twitter:before {
    content: '\f360';
  }
  .zmdi-pinterest:before {
    content: '\f3fc';
  }
  .zmdi-camera-monochrome-photos:before {
    content: '\f285';
  }
  